<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="34c6b6f7-8581-4101-bda8-1b316907a43f" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="34c6b6f7-8581-4101-bda8-1b316907a43ffileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
